<h2>Customer</h2>

<ul>
  <li><%= @customer.name %></li>
  <li><%= @customer.age %></li>
  <li><%= @customer.nationality %></li>
</ul>

<div class="edit"><%= link_to 'Edit Customer', edit_customer_path(@customer), class: "edit" %></div>
<div class="del"><%= link_to 'Delete', @customer, method: :delete, data: {confirm: "Are you sure you want to delete this entry?"}, class: "del" %></div>