<h2>new customer</h2>

<ul>
  <li><%= @customer.name %></li>
  <li><%= @customer.age %></li>
  <li><%= @customer.nationality %></li>
</ul>

<%= link_to 'Edit Customer', edit_customer_path(@customer) %>
<%= link_to 'Delete', @customer, method: :delete, data: {confirm: "Are you sure you want to delete this entry?"} %>