<h2>Product</h2>

<ul>
<li><%= @product.name %></li>
<li><%= @product.description %></li>
<li><%= @product.price %></li>
<li><%= @product.quantity %></li>
</ul>

<div class="edit"><%= link_to 'Edit', edit_product_path(@product), class: "edit" %></div>
<div class="del"><%= link_to 'Delete', @product, method: :delete, data: {confirm: "Are you suuure???"}, class: "delete" %></div>